#chart_container{
    display: grid;
    width: 90%;
    margin: auto;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: "a b" "c c" "d d";
    justify-self: center;
    align-self: center;
}

